<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697744335833-6m788cq5563lr93me4vfc7qms8tl72lc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697744335833-6m788cq5563lr93me4vfc7qms8tl72lc</string>
	<key>API_KEY</key>
	<string>AIzaSyC6_pJ6TK3Q-uh3THgnbiC6Nf9nsx65uow</string>
	<key>GCM_SENDER_ID</key>
	<string>697744335833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lumever.Tevari</string>
	<key>PROJECT_ID</key>
	<string>tevari-502818</string>
	<key>STORAGE_BUCKET</key>
	<string>tevari-502818.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:697744335833:ios:13118dce565098dab22fc8</string>
</dict>
</plist>
